################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Vaux-Frontend/.vs/Vaux-Frontend
/Vaux-Frontend/Vaux-Frontend/obj
