################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/.vs/Vaux-Frontend
/Vaux-Frontend/obj
