.p-input-icon-left > .p-inputtext
  padding-left: 3.125rem
.p-inputtext, .p-dropdown
  height:32px
.p-inputtext
  line-height: inherit
  border-radius: 10px
.p-dropdown
  border-radius: 10px
.input-invalid
  border-color: $primary-danger !important
.p-inputtext:enabled:focus 
  outline: 0 none
  outline-offset: 0
  box-shadow: 0 0 0 0.2rem rgba(161, 107, 86, 0.5)
  border-color: #371C15

.p-dropdown:not(.p-disabled).p-focus 
  outline: 0 none
  outline-offset: 0
  box-shadow: 0 0 0 0.2rem rgba(161, 107, 86, 0.5)
  border-color: #371C15
.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight 
  color: #ffffff
  background: #A16B56
.p-datepicker table td > span.p-highlight 
  color: #ffffff
  background: #A16B56
.p-button:focus 
  box-shadow: 0 0 0 0.2rem rgba(161, 107, 86, 0.5)
.btn-success
  color: #ffffff
  background: $primary-success
  border: 1px solid $primary-success
.btn-success:enabled:hover 
  background: #32a34a
  color: #ffffff
  border-color: #32a34a
.btn-primary
  color: #ffffff
  background: $primary
  border: 1px solid $primary
.btn-primary:enabled:hover 
  background: $primary-dark
  color: #ffffff
  border-color: $primary-dark
.btn-danger
  color: #ffffff
  background: $primary-danger
  border: 1px solid $primary-danger
.btn-danger:enabled:hover 
  background: #ab0c0c
  color: #ffffff
  border-color: #ab0c0c
.btn-warning
  color: #ffffff
  background: $primary-warning
  border: 1px solid $primary-warning
.btn-warning:enabled:hover 
  background: #ab0c0c
  color: #ffffff
  border-color: #ab0c0c
.btn-second
  color: $primary
  background-color: $transparent
  border: 1px solid $primary
.btn-second:enabled:hover 
  background: $primary
  color: #ffffff
  border-color: $transparent
.btn-final
  color: #ffffff
  background: $primary
  border: 1px solid $primary
.btn-final:enabled:hover 
  background: $primary-dark
  color: #ffffff
  border-color: $primary-dark


